<!doctype html>
<html>
<head>
    {% load staticfiles %}

    {% block titlename %}
        <title>Welcome to Ved Mandir</title>
    {% endblock %}

    <meta charset="utf-8">
    <title>Ved Mandir</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}">
    <link rel="stylesheet" href="{% static "css/flexslider.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/datestyle.css" %}">
    <link rel="shortcut icon" href="http://gahlot.us/VedMandir2/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://gahlot.us/VedMandir2/favicon.ico" type="image/x-icon">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "ico/apple-touch-icon-57-precomposed.png" %}">


    {% block extra_styles %}

    {% endblock %}

</head>

<body>
    <div class="container">
         <div class="header row"> 
            <div class="span12">
                <div class="navbar">
					<div class="navbar-inner">
						<h1>
							<a class="brand" href="/">Ved Mandir</a>
						</h1>
						<div class="nav-expand expand">
							<ul class="nav pull-right" >
								<li id="li_events"><a href="/ved/events"><i class="icon-tasks"></i><br/>Events<br/>&nbsp;</a></li>
								<li id="li_darshan"><a href="/ved/darshan"><i class="icon-camera"></i><br/>Darshan<br/>&nbsp;</a></li>
								<li id="li_photos"><a href="/ved/photos"><i class="icon-camera"></i><br/>Photos<br/>&nbsp;</a></li>
								<li id="li_vol"><a href="/ved/volunteer"><i class="icon-comments"></i><br/>Volunteer<br/>&nbsp;</a></li>
								<li id="li_avail"><a href="/ved/avail"><i class="icon-book"></i><br />Priest/Hall<br/>Booking</a></li>
								<li id="li_programs"><a href="/ved/programs"><i class="icon-book"></i><br/>Services<br/>&nbsp;</a></li> 
								<li id="li_calendar"><a href="/ved/yearlyevents"><i class="icon-tasks"></i><br/>Yearly<br/>Calendar</a></li>
								<li id="li_about"><a href="/ved/about"><i class="icon-user"></i><br/>About<br/>&nbsp;</a></li>
								<li id="li_donate">



											<div id="cpecc00e2bc2" style="margin: 10px 0" onclick="document.getElementById('pay_now_form_208f80452a').submit()">
											<div>
											<div class='r-bg '>
												<span class='r-fg r-fg-3'>
												</span> 
												<span class='r-fg r-fg-2'>
												</span> 
												<span class='r-fg r-fg-1'>
												</span> 
												<span class='r-fg r-fg-0'>
												</span> 
											</div>
											<form action="https://globalgatewaye4.firstdata.com/pay" id="pay_now_form_208f80452a" method="post">
												<input type="hidden" name="x_login" value="WSP-VED-M-aHWNMwB71A" />
												<input type="hidden" name="x_show_form" value="PAYMENT_FORM" />
												<input type="hidden" name="x_fp_sequence" value="14813188302442327834" />
												<input type="hidden" name="x_fp_hash" value="PNB-1.0-f648e4c3cb0c74dc699b68d03237450ba96730d6" />
												<input type="hidden" name="x_amount" value="" />
												<input type="hidden" name="x_currency_code" value="USD" />
												<input type="hidden" name="x_test_request" value="FALSE" />
												<input type="hidden" name="x_relay_response" value="" />
												<input type="hidden" name="donation_prompt" value="" />
												<input type="hidden" name="button_code" value="Pay Now Ved Mandir Donation Page" />
												<div class="cpwrap">
													<button type="button">Donate</button>
												</div>
											</form>
											<div class='r-bg '>
												<span class='r-fg r-fg-0'>
												</span> 
												<span class='r-fg r-fg-1'>
												</span> 
												<span class='r-fg r-fg-2'>
												</span> 
												<span class='r-fg r-fg-3'>
												</span> 
											</div>
											</div>
											</div>
											<style type="text/css">div#cpecc00e2bc2{width: 100px; background-color: #FF9900;}div#cpecc00e2bc2:hover{cursor: pointer}div#cpecc00e2bc2 * {background-color: #FFAA00;}div#cpecc00e2bc2 form{margin:0; padding:0;text-align:center}div#cpecc00e2bc2 div.cpwrap {width: 90%;border:0;margin:0 auto;padding: 0px; background-color: #FF9900}div#cpecc00e2bc2 button{width: 95%;border:0;margin:0;padding: 3px 0; background-color: #FF9900;text-align: center; color: #FFFFFF; }div#cpecc00e2bc2:hover button {text-decoration: underline}div#cpecc00e2bc2 button:focus,div#cpecc00e2bc2 button:visited,div#cpecc00e2bc2 button:active{border:none;outline: none}div#cpecc00e2bc2 button {font-size: 16px}div#cpecc00e2bc2 div.cpwrap {border-left: 3px solid #FFAA00; border-right: 3px solid #FFAA00}div#cpecc00e2bc2 .r-fg{background-color: #FFAA00; border-color: #FFAA00}div#cpecc00e2bc2 .r-bg{background-color: white}div#cpecc00e2bc2 .r-fg{border-style: solid; border-width: 0px 1px; overflow: hidden; display: block; height: 1px; font-size: 1px}div#cpecc00e2bc2 .r-fg-0{margin-left: 1px; margin-right: 1px; border-width: 0px 1px !important; height: 1px !important}div#cpecc00e2bc2 .r-fg-1{margin-left: 2px; margin-right: 2px}div#cpecc00e2bc2 .r-fg-2{margin-left: 3px; margin-right: 3px}div#cpecc00e2bc2 .r-fg-3{margin-left: 5px; margin-right: 5px}</style>
																			
								
								
								</li>
							</ul>
						</div>
					</div>
                </div>
            </div>
        </div>  <!--header row -->
    </div>

    {% block content %}


    {% endblock %}

	<br><br>
		<footer>
			<div class="container">
				<div class="row">
					<div class="copyright span4">Copyright 2013 Ved Mandir</div>
					<div class="copyright span4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href='/ved/pdf/privacypolicy/' target="_blank"><u>Privacy Policy</u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href='/ved/pdf/termsandconditions/' target="_blank"><u>Terms & Condition</u></a>
					</div>
					<div class="social span4">
						<a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
						<a class="twitter" href="https://www.twitter.com/VedMandirNJ"></a>
					</div>
					<br>
				</div>
			</div>
		</footer>
		<script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/jquery.flexslider.js" %}"></script>
		<script src="{% static "js/jquery.tweet.js" %}"></script>
		<script src="{% static "js/jflickrfeed.js" %}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="{% static "js/jquery.ui.map.min.js" %}"></script>
		<script src="{% static "js/jquery.quicksand.js" %}"></script>
		<script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
		<script src="{% static "js/scripts.js" %}"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-45152718-1', 'vedmandir.org');
		  ga('send', 'pageview');
		</script>

		{% block footer_scripts %}

		{% endblock %}

	</div>
</body>
</html>
