{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text -->
         <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                    <p><b>Founder: Anantshrivibhushit Swami Shri Gangeshwaranandji Maharaj Udasin</b>
<br>
<p>
Ved Mandir was founded in 1982 by his holiness Anantshrivibhushit Swami Shri Gangeshwaranandji Maharaj Udasin. This perhaps is the only temple in North America which is located at Milltown, NJ in scenic 12.5 acres wooded land on a bank of a river. Temple is surrounded by manicured landscaped garden and has paved parking for up to 100 cars. Ved Mandir was designed in Indo-American architecture and boast one of the largest <i>Kalashes</i> sitting on top of the glass dome which sits on a tall <i>Shikhar</i>.
</p>
<p>
The temple houses all Hindu deities  <a href="/ved/darshan"><i>(Please click for virtual darshan) </i></a>. The temple provides religious and spiritual services to the Indian community. Though the temple is located in Milltown, NJ, devotees from Connecticut, New York, Long Island and Pennsylvania often visit during festivals. The temple has two full time priests living on the premises and administered by an <a href="/ved/councils">Executive Council Body. </a>
</p>
                </div>
            </div>
        </div>

        <!-- Meet Our Team -->
        <div class="team container">
            <div class="team-title">
                <h3>Meet Our Pujari</h3>
            </div>
            <div class="row">
                <div class="team-text span3">
                    <img src="{% static "img/team/2.jpeg" %}" alt="">
                    <h4>Shree Mahendrakumarji Upadhyay</h4>
					<a href="#mahendra" data-toggle="modal">About me</a>
				</div>
                <div class="team-text span3">
                    <img src="{% static "img/team/shantoshji.jpeg" %}" alt="">
                    <h4>Shree Santoshji Parashar</h4>
					<a href="#shantoshji" data-toggle="modal">About me</a>
				</div>
            </div>
        </div>

		<div class="modal fade" id="shantoshji" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Shree Acharya Santoshji Parashar</h4>
			</div>
			<div class="modal-body">
						<div class="team-text">
								<p>
                                Shri Santoshiji acquired degree of Acharya (equivalent of M.A.) from SAMPURNAND SANSKRIT UNIVERSITY, VARANASI, INDIA. in the subject of SANSKRIT and GRAMMAR. He had served as a Priest for twenty three years at GURUGANGESHWAR VED DHAM, Khar, Mumbai, India. He has expertise in performing all kinds of Religious Pujas, Yaga Havan, Thread and Wedding Ceremonies. He has great experience in preaching Spiritual Speeches including religious sermons on Vedas and other Vedic Hindu epics and literatures. As a Astrologer, he has years of experience in making Kundalies and with deep knowledge of Panchaang and Horoscope.<br>
								</p> 
						</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  
		</div>
		</div>

		<div class="modal fade" id="mahendra" role="dialog">
		<div class="modal-dialog">

		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 class="modal-title">Shree Mahendrakumarji Upadhyay </h4>
			</div>
			<div class="modal-body">
						<div class="team-text">
								<p>
Shri Mahendrakumarji acquired degree from SAMPURNAND SANSKRIT UNIVERSITY, VARANASI, INDIA.
with FIRST CLASS in the subject of SANSKRIT and GRAMMAR,  He had served as a Priest for sixteen years at GURUGANGESHWAR VED DHAM, Khar, Mumbai, India.  He has expertise in performing all kinds of Religious Pujas, Yaga Havan, Thread and Wedding Ceremonies.  He has great experience in preaching Spiritual Speeches including religious sermons on Vedas and other VedicHindu epics and literatures.  As a Astrologer, years of experience in making Kundalies with deep knowledge of Panchaang and Horoscope.
								</p> 
						</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		  
		</div>
		</div>

{% endblock %}


{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_about').addClass('active');
		});
	</script>
{% endblock %}
