{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Temple Services</h2>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- About Us Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                    <h4>Ved Mandir Pujari/Priest Services<a href="/ved/flyer/donation.pdf"> Click here for details</a></h4>

                </div>
            </div>
 <div class="call-to-action container">
            <div class="row">
                <div class="call-to-action-text span12">
                    <div class="ca-text">
                        <p>Need to book <span class="violet">the temple? </span>Call Ved Mandir at <span class="violet">732-821-0404</span> or Send us an <span class="violet">email!</span></p>
                    </div>
                    <div class="ca-button">
                        <a href="/ved/inqcont">Contact Us!</a>
                    </div>
                </div>
            </div>
        </div>
             <div class="team-title">
                <h3>Hall Availability</h3>
            </div>
             <!-- Services Half Width Text -->
       <div class="about-us container">
<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=650&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hgdesckovjb0bk36i2re3ceeog%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="650" frameborder="0" scrolling="no"></iframe>        </div>
               
		</div>
	</div>
</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_avail').addClass('active');
		});
	</script>
{% endblock %}
