{% extends 'base.html' %}

{% block extra_styles %}
<style type="text/css">
*[class*="Image"]:after, [class*="image"]:after, *[class*="Photo"]:after, *[class*="photo"]:after {
    pointer-events:none !important;
}
</style>

{% endblock %}

{% block content %}
    {% load staticfiles %}

    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <i class="icon-tasks page-title-icon"></i>
                    <h2>  Daily Events </h2>
                </div>
            </div>
        </div>
    </div>


    <div class="team container">
        <div class="team-title">
            
        </div>
		<div class="row">
			<div class="portfolio-navigator span12">
				<h4>
					<U><a href="/ved/dailyevents">Daily Events</a></U> /
					<U><a href="/ved/events">Monthly Events</a> </U> 
					<h6><i class="icon-envelope"><u><a href="/ved/newsletter"> Sign Up to stay informed !  </a></u></i><i class="icon-envelope"></i></h6>
				</h4>
                <h4 span class="violet">
                    <BR><I><B> TEMPLE IS CURRENTLY CLOSED DUE TO COVID-19 </B></I>
                </h4>
                <h4 span class="violet">
                    <BR><I><B> EVERYDAY OUR PRIEST HOSTS ONLINE SESSION FROM <U>5:00 PM TO 7:40 PM </U></B></I>
                </h4>
                <h2 span class="violet">
                    <BR><U><I><B><a href="https://us02web.zoom.us/j/85461247459?pwd=NXlvSWNZR0RGVWE1VGVyd1UvUjFsdz09" target="_blank">CLICK HERE TO JOIN LIVE SESSION</a> </B></I></U>
                </h2>
			</div>
		</div>

		<div class="portfolio portfolio-page container">
			<div class="row">
				<ul class="portfolio-img">
					{% for event in events %}
						<li class="span6 ">
							<div class="work">
								<h6>&nbsp;</h6>
								<h5><span class="violet">{{ event.event_day }}</span> </h5>
								<h6>&nbsp;</h6>
								<ul class="list-group">
									<li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event.time1 }}  ---  {{ event.description1 }} </li>
									{% if event.description2 %}
										<li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event.time2 }}  ---  {{ event.description2 }} </li>
									{% else %}
										<li class="list-group-item">&nbsp;</li>
									{% endif %}
									{% if event.description3 %}
										<li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event.time3 }}  ---  {{ event.description3 }} </li>
									{% else %}
										<li class="list-group-item">&nbsp;</li>
									{% endif %}
									<li class="list-group-item">&nbsp;</li>
									{% if event.footnote %}
										<li class="list-group-item"><I>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event.footnote }}</I></li>
									{% else %}
										<li class="list-group-item">&nbsp;</li>
									{% endif %}
								</ul>
							</div>
						</li>
					{% endfor %}
					<li class="span6 ">
						<div class="work">
							<h3>&nbsp;</h3>
							<ul class="list-group">
								<li class="list-group-item">&nbsp;</li>
								<li class="list-group-item"><h4><I><span class="violet">Please join us with<br>Friends &amp; Family</span></I></h4></li>
								<li class="list-group-item">&nbsp;</li>
								<li class="list-group-item">&nbsp;</li>
							</ul>
						</div>
					</li>
			</div>
		</div>

		<div class="call-to-action container">
			<div class="row">
				<div class="call-to-action-text span12">
					<div class="ca-text">
						<p>Need more <span class="violet">information? </span> Want to learn more about what's happening? </p>
					</div>
					<div class="ca-button">
						<a href="/ved/inqcont">Contact Us!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_events').addClass('active');
		});
	</script>
{% endblock %}
