{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Reference to html5gallery.js -->
<script type="text/javascript" src="{% static "js/html5gallery.js" %}"></script>

</head>

<body>

<!-- A wrapper DIV to center the Gallery -->
<div style="text-align:center;">

    <!-- Define the Div for Gallery -->
    <!-- 1. Add class html5gallery to the Div -->
    <!-- 2. Define parameters with HTML5 data tags -->
	<div style="display:none;margin:0 auto;" class="html5gallery" data-skin="light" data-width="1000" data-height="600" data-slideshadow="false" data-resizemode="fill">
	
	<!-- Add images to Gallery -->

		{% for photo in photos %}
			{% if photo.external_link %}
			<a href="{{ photo.image_name }}"><img src="{% static "images/videopic.jpg" %}" alt="{{ photo.small_image_name }}"></a> 
			{% else %}
				<a href="{% static "images/" %}{{ photo.image_name }}"><img src="{% static "images/" %}{{ photo.small_image_name | default_if_none:photo.image_name }}"></a> 
			{% endif %}
		{% endfor %}

		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://www.youtube.com/embed/EiAU_lrCrnA?rel=0" data-webm="https://www.youtube.com/embed/EiAU_lrCrnA?rel=0"><img src="{% static "images/videopic.jpg" %}" alt="Bhajan Sandhya"></a>
		
		<!-- Add Youtube video to Gallery -->
		<a href="https://www.youtube.com/embed/sVoVA6PU_78?rel=0"><img src="{% static "images/videopic.jpg" %}" alt="Youtube Video"></a>
		
		<a href="https://youtu.be/d1GLpHKVxag"><img src="{% static "images/videopic.jpg" %}" alt="Youtube Video"></a>
		<!-- Add Vimeo video to Gallery -->
		<!--<a href="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0"><img src="images/Big_Buck_Bunny.jpg" alt="Vimeo Video"></a>
	-->
	</div>

</div>

<style type="text/css">
div.guide {margin:12px 24px;}
div.guide span {color:#ff0000; font:italic 14px Arial, Helvetica, sans-serif;}
div.guide p {color:#000000; font:14px Arial, Helvetica, sans-serif;}
div.guide pre {color:#990000;}
div.guide p.title {color:#df501f; font:18px Arial, Helvetica, sans-serif;}
</style>

</body>

</html>
