{% extends 'base.html' %}


{% block content %}
    {% load staticfiles %}

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Priest Services / Hall Booking</h2>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- About Us Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                   <p>
                   Ved Mandir provides Pujaris for various ceremonies at the Mandir or at another location (devotee’s home or office).  The <strong><u>minimum</u></strong> recommended donations <strong><u>INCLUDING</u></strong> Priest's Dakshina are outlined below. 
				   </p>
                </div>
            </div>


			<table class="table table-condensed">
    			<thead>
      				<tr>
                        <strong>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
						<th>Type of Puja/Service</th>
						<th>In Mandir</th>
						<th>Outside Mandir</th>
                        </strong>
      				</tr>
    			</thead>
    			<tbody>
				{% for item in donations %}
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>
						{% if  item.bold  %}
							<B> {{ item.pooja_type | upper }} </B>
						{% else %}
							{{ item.pooja_type }}
						{% endif %}
						</td>
						{% if item.in_mandir_price %}
							<td> 
								{% if item.bold %}
									<B> ${{ item.in_mandir_price }} </B>
								{% else %}
									${{ item.in_mandir_price }} 
									{% endif %}
							</td>
						{% else %}
							<td> n/a </td>
						{% endif %}
						{% if item.outside_mandir_price %}
							<td> 
								{% if item.bold %}
									<B> ${{ item.outside_mandir_price }}  </B>
								{% else %}
									${{ item.outside_mandir_price }}  
								{% endif %}
							</td> 
						{% else %}
							<td> n/a </td>
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
			</table>

            <div class="row">
                <div class="about-us-text span12">
                   <p>
                   The minimum suggested donations outlined above to Ved Mandir does not include DAKSHINA for the Priest.
				   </p>
                </div>
            </div>

            <div class="row">
                <div class="about-us-text span12">
                    <p><strong>
				        Mandir Hall/Kitchen Area Use:
                    </strong></p>
                </div>
            </div>

			<table class="table table-condensed">
    			<thead>
      				<tr>
                        <strong>
						<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
						<th>Hall Use For</th>
						<th>Use Time</th>
						<th>Use Duration</th>
						<th>Donation Amount</th>
                        </strong>
      				</tr>
    			</thead>
    			<tbody>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td> BABY SHOWER, BHAJANS, ENGAGEMENT, JANEU &amp; MAATA KI CHOWKI </td>
                        <td> As Booked </td>
                        <td> 4 Hours </td>
                        <td> As above </td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td> WEDDING CEREMONY </td>
                        <td> As Booked </td>
                        <td> 5 Hours </td>
                        <td> As above </td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td> All other Pujas/Services </td>
                        <td> As Booked </td>
                        <td> 1 Hour </td>
                        <td> As above </td>
					</tr>
					<tr>
						<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td> Rent without Priest Services </td>
                        <td> 9 AM to 4 PM </td>
                        <td> 4 Hours </td>
                        <td> $301 plus $101 Deposit* </td>
					</tr>
				</tbody>
			</table>

            <div class="row">
                <div class="about-us-text span12">
                   <p>
                   *The Hall must be vacated and cleaned no later than 4:30PM. In the event you are unable to
clean, a minimum suggested donation of $101.00 is requested to pay for the cost of cleaning.
This amount of $101.00 will be charged as a deposit to ensure cleaning of the temple hall and
kitchen and will be refunded only if the temple hall and kitchen are cleaned satisfactorily.
				   </p>
                </div>
            </div>

            <div class="row">
                <div class="about-us-text span12">
                   <p>
                   <strong> Shringar for Gods: </strong><BR>
                    <B>
                        The  donation  amount  for  dresses of  all  22  Gods @ Ved Mandir is $1001.
                    </B>
				   </p>
                </div>
            </div>

            <div class="row">
                <div class="about-us-text span12">
                   <p>
                       <strong> Donation Payment: </strong><BR>
                       <B>
                       Please  Contact  Ved Mandir / Rita Chandhok @ 732-821-0404 for Priest  Services or Hall Bookings or reservations@vedmandir.org  (do not call the Priests to schedule any Services)
                       </B>
				   </p>
                </div>
            </div>
		</div>

		<div class="call-to-action container">
			<div class="row">
				<div class="call-to-action-text span12">
					<div class="ca-text">
						<p>Want more <span class="violet">Information? </span>Send us an <span class="violet">email!</span></p>
					</div>
					<div class="ca-button">
						<a href="/ved/inqcont">Contact Us!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_avail').addClass('active');
		});
	</script>
{% endblock %}
