{% extends 'base.html' %}

{% block extra_styles %}
<style type="text/css">
*[class*="Image"]:after, [class*="image"]:after, *[class*="Photo"]:after, *[class*="photo"]:after {
    pointer-events:none !important;
}
</style>

{% endblock %}

{% block content %}
    {% load staticfiles %}


    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <i class="icon-tasks page-title-icon"></i>
					<h2>Whats Happening This Month?</h2>
				</div>
            </div>
        </div>
    </div>

  <div class="team container">
        <div class="team-title">
            
        </div>
		<div class="row">
			<div class="portfolio-navigator span12">
				<h4>
					<U><a href="/ved/dailyevents">Daily Events</a></U> /
					<U><a href="/ved/events">Monthly Events</a> </U>
					<h6><i class="icon-envelope"><u><a href="/ved/newsletter"> Sign Up to stay informed !  </a></u></i><i class="icon-envelope"></i></h6>
				</h4>
                <!-- <h4 span class="violet"> -->
                    <!-- <BR><BR><I><B> TEMPLE IS CURRENTLY CLOSED DUE TO COVID-19 </B></I> -->
                <!-- </h4> -->
                <h4 span class="violet">
                    <BR><I><B> EVERYDAY OUR PRIEST HOSTS ONLINE SESSION FROM <U>5:00 PM TO 7:30 PM </U></B></I>
                </h4>
                <h2 span class="violet">
                    <BR><U><I><B><a href="https://us02web.zoom.us/j/85461247459?pwd=NXlvSWNZR0RGVWE1VGVyd1UvUjFsdz09" target="_blank">CLICK HERE TO JOIN LIVE SESSION via ZOOM </a> </B></I></U>
                </h2>
                <h4>OR VISIT</h4>
                <h2 span class="violet">
                    <U><I><B><a href="https://www.facebook.com/VedMandirNJ" target="_blank">VED MANDIR on FACEBOOK</a> </B></I></U>
                </h2>
			</div>
		</div>

		<div class="team container">
			<div class="row">
				{% for event in events %}
					<div class="team-text span4 ">
						<br>
						<iframe src="/ved/date/{{ event.event_date  | date:'m' }}/{{ event.event_date  | date:'d' }}" height="140px" width="90px" scrolling="no" frameborder="no" alt=""></iframe>                    
						<h4><b>{{ event.description }}</b></h4>
						{% if event.description1_link %}
							<p><a href="/ved/flyer/{{ event.description1 }}" target="_blank">Click for more detail</a></p>
						{% else %}
							<p>{{ event.description1|default:"&nbsp;" }}</p>
						{% endif %}
						{% if event.description2_link %}
							<p><a href="/ved/flyer/{{ event.description2 }}" target="_blank">Click for more detail</a></p>
						{% else %}
							<p>{{ event.description2|default:"&nbsp;" }}</p>
						{% endif %}
						<!--
						<div class="social-links">
							<a class="facebook" href="https://www.facebook.com/VedMandirNJ"></a>
							<a class="email" href="mailto:username@example.com?subject=Event&body=message%20goes%20here"></a>
						</div>
						-->
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="call-to-action container">
			<div class="row">
				<div class="call-to-action-text span12">
					<div class="ca-text">
						<p>Need more <span class="violet">information? </span> Want to learn more about what's happening? </p>
					</div>
					<div class="ca-button">
						<a href="/ved/inqcont">Contact Us!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_events').addClass('active');
		});
	</script>
{% endblock %}
