{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
       <div class="slider">
            <div class="container">
                <div class="row">
                    <img class="img-responsive center-bloack" src="{% static "img/ved.jpg" %}">
                </div>
            </div>
        </div>


		<div class="what-we-do container" style="padding-top:0px"> 
            <div class="row">
                <div class="service span6">
                    <div class="icon-awesome">
                        <i class="icon-time"></i>
                    </div>
                    <h4>Mandir Hours</h4>
                    <!-- <p>Open Everyday -- 7:00 AM to 8:30 PM<br><br></p> -->
                    <!-- <p>TEMPLE IS TEMPORARILY CLOSED DUE TO COVID-19<br><br></p> -->
                    <p>Open Everyday -- 7:00 AM to 7:30 PM<br><br></p> -
					<a class="a" href='/ved/dailyevents/'>Please click here to see more detailed timings</a>
                </div>
                <div class="service span6">
                    <div class="icon-awesome">
                        <i class="icon-fire"></i>
                    </div>
                    <h4>Aarti Times</h4>
                    <p>Morning Aarti -- 7:00 AM<br>Evening Aarti -- 7:00 PM<br></p> 
                    <!-- <p>TEMPLE IS TEMPORARILY CLOSED DUE TO COVID-19<br><br></p>  -->
					<a class="a" href='/ved/dailyevents/'>Please click here to see more detailed timings</a>
                </div>
            </div>
            <div class="row">
                <div class="service span12">
                    <h2>
                        <BR><a class="a" href="https://us02web.zoom.us/j/85461247459?pwd=NXlvSWNZR0RGVWE1VGVyd1UvUjFsdz09" target="_blank">Please click here to join us for LIVE Bhajans and Aarti via Zoom</a>
                    </h2>
                    <h4>
                        <BR><I>Or Visit</I>
                    </h4>
                    <h2>
                        <BR><a class="a" href="https://www.facebook.com/VedMandirNJ" target="_blank">Ved Mandir on Facebook</a>
                    </h2>
                    <h2>
                        <BR><I>Everyday from 5:00 PM to 7:30 PM</I>
                    </h2>
                </div>
            </div>
		</div> 


{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_home').addClass('active');
		});
	</script>
{% endblock %}
