{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-envelope-alt page-title-icon"></i>
                        <h2>Sign up for Newsletters</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->
        <div class="contact-us container">
            <h4>Please provide your email address</h4> 
            <div class="row">
                <div class="contact-form span7">
                    <form method="post" action="/ved/newsletter/">

						{% csrf_token %}
						{% if form %}
							{{ form }}
							<button type="submit">Submit</button>
						{% else %}
							<p><span class="violet">Thanks for Signing up!</span></p>
						{% endif %}

                    </form>
                </div>
                <div class="contact-address span5">
                    
                    <h4>Address</h4>
                    <p>1 Ved Mandir Drive <br> Milltown, NJ, 08850</p>
                    
                    <h4>We Are Here</h4>
                    <p>1. Travel on NJ Turnpike to Exit 9(New  Brunwsick & Route 18). <br>
2. Take Route 18 North for 1 mile to Route 1 South. Travel 2.5  miles on 
   Route 1 South. After Technology Center, take Milltown Exit which is 
   after overpass.<br>
3. Travel on Milltown Road (also known as Main Street) for about  1 mile. 
   Go through the 1st traffic light and make 1st right on  Riva Avenue.<br>
4. Travel on Riva Avenue for 0.7 mile. Go over a small bridge, pass a 
   Farm Market on left side and then slow down. Just before the Food Mart
   Store right, make a right turn on Ved Mandir drive.
</p>
                </div>
            </div>
        </div>
{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_contact').addClass('active');
		});
	</script>
{% endblock %}
