{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

	<!-- Page Title -->
	<div class="page-title">
		<div class="container">
			<div class="row">
				<div class="span12">
					<i class="icon-camera page-title-icon"></i>
					<h2>Photos</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio -->
	<div class="portfolio portfolio-page container">
	   <iframe src="/ved/demo_light_skin" width="100%" height="1000" frameBorder="0"></iframe>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_photos').addClass('active');
		});
	</script>
{% endblock %}
