{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

        <!-- Page Title -->
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Community Services</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                   	<p>
In addition to celebrating Hindu Festivals and meeting ritual / spiritual needs of the community, temple is also involved in various community services  such as ... 
					</p>
                   <h4>Sapna Poora Karo</h4>
                   <p>
				   Ved Mandir along with Sapna Poora Karo organization will be offering beginner&#39;s level computer classes to introduce basic computer skills to seniors. <br />Enrollment is limited to 10 people on first come first serve basis. We are taking applications for the next training session. Computers for the classes are provided by Ved Mandir. <br />For more information please <a href="/ved/flyer/Flyer_SPKCurriculum.pdf" target="_blank">Click Here</a>. You can call Aakash Parwani at  <span class="violet">551-225-9572</span> or  <a href="/ved/inqcont"><i>contact</i></a> us to sign up!
					</p>
                   <h4>Medical Camp</h4>
                   <p>
				   	Currently details not available. It will be posted here as soon as available.
					</p>
                   <h4>Yoga Classess</h4>
                   <p>
Please <a href="/ved/inqcont"><i>contact</i></a> us to sign up!
					</p>
                </div>
           </div>
        </div>
 
          <div class="call-to-action container">
            <div class="row">
                <div class="call-to-action-text span12">
                    <div class="ca-text">
						<p>Need more <span class="violet">information? </span>  </p>
                    </div>
					<div class="ca-button">
						<a href="/ved/inqcont">Contact Us!</a>
					</div>
                </div>
            </div>
        </div>
   
{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_programs').addClass('active');
		});
	</script>
{% endblock %}
