{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}

        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <i class="icon-user page-title-icon"></i>
                        <h2>Youth Volunteering</h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Us Text -->
        <div class="about-us container">
            <div class="row">
                <div class="about-us-text span12">
                    <h4>About Youth Volunteering </h4>
                   <p>
				   Ved Mandir offers volunteering opportunities to youths of all ages. Volunteering is an excellent way to give back to the community, to make new friends, to learn about our shared heritage, and to grow as individuals! Ved Mandir is a 501(c)(3) not for profit that has been established for over 25 years. For high school students, the hours contributed at the temple can also be counted towards community service hours. <br><br>The Ved Mandir Youth Group is tasked with aiding the other volunteers in the distribution of food and cleanup on Sundays, as well as taking care of the temples 8+ acre property during cleaning events that are held anywhere from monthly to quarterly, depending on the season and need. The youth center is also seeking to get involved with group community service activities in conjunction with other not for profits, including soup kitchens, animal welfare organizations and environmental cleanup groups.  These activities provide leadership development and community involvement opportunities to the youth. </p>
                </div>
            </div>
             <div class="team-title">
                <h3>Volunteering Events</h3>
            </div>
             <!-- Services Half Width Text -->
			<div class="services-half-width container">
				<div class="row">
					<div class="services-half-width-text span6">
						<h4>Clean Ups!</h4>
						<p>Several like-minded youths from our community got together and have worked together to clean the temple. Several times a year (every few months) we get spend an afternoon at the temple sprucing it up for visitors with interesting activities: planting a flower garden, picking up leaves, cleaning the temple premises, replacing bulbs, batteries, ceiling tiles, and even pressure washing the back patio. You may find the photo-albums on our Facebook page (VedMandirNJ) interesting.</p>
					</div>
					<div class="services-half-width-text span6">
						<h4>Mahaprasad</h4>
						<p>The temple would like to have a few volunteers to volunteer every Sunday evening to help with the <i>Mahaprasad</i> procession. <strong>Contact us for more information!</strong></p>
					</div>
					<div class="services-half-width-text span6">
						<h4>Navratri</h4>
						<p>During <span class="violet">Navratri</span> the temple hosts a variety of functions to celebrate. Throughout the processions, we need a few volunteers to help ensure that everything runs smoothely. <strong>Contact us for more information!</strong></p>
					</div>
				</div>
			</div>
			<!--
			<div class="services-half-width container">
				<div class="row">
					<div class="services-half-width-text span6">
						<h4>Navratri</h4>
						<p>During <span class="violet">navratri</span> the temple hosts a variety of functions to celebrate. Throughout the processions, we need a few volunteers to help ensure that everything runs smoothely. <strong>Contact us for more information!</strong></p>
					</div>
				</div>
			</div>
			-->
		
			<div class="call-to-action container">
				<div class="row">
					<div class="call-to-action-text span12">
						<div class="ca-text">
							<p>Want to <span class="violet">volunteer? </span>Send us an <span class="violet">email!</span></p>
						</div>
						<div class="ca-button">
							<a href="/ved/inqcont">Contact Us!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
   
{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_vol').addClass('active');
		});
	</script>
{% endblock %}
