{% extends 'base.html' %}

{% block extra_styles %}
<style type="text/css">
*[class*="Image"]:after, [class*="image"]:after, *[class*="Photo"]:after, *[class*="photo"]:after {
    pointer-events:none !important;
}
</style>
{% endblock %}

{% block content %}
    {% load staticfiles %}


    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <i class="icon-tasks page-title-icon"></i>
                    <h2>  Yearly Festivals </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="team container">
		<div class="portfolio portfolio-page container">
			<div class="row">
				<div class="portfolio-navigator span12">
					<h4 class="filter-portfolio">
						<a class="all" id="active-imgs" href="#">All</a> /
						<a class="January" id="" href="#">Jan</a>/ 
						<a class="February" id="" href="#">Feb </a>/ 
						<a class="March" id="" href="#">Mar</a>/
						<a class="April" id="" href="#">Apr</a>/
						<a class="May" id="" href="#">May</a>/
						<a class="June" id="" href="#">Jun</a>/
						<a class="July" id="" href="#">Jul</a>/
						<a class="August" id="" href="#">Aug</a>/
						<a class="September" id="" href="#">Sep</a>/
						<a class="October" id="" href="#">Oct</a>/
						<a class="November" id="" href="#">Nov</a>/
						<a class="December" id="" href="#">Dec</a>

					</h4>
				</div>
			</div>
			<div class="row">
				<ul class="portfolio-img">
				{% for event in yearlyevents %}
					<li data-id="p-{{ forloop.counter }}" data-type="{{ event.event_date | date:"F" }}" class="span3">
						<div class="work">
							<h4>{{ event.description }}</h4>
							<p>{{ event.event_date | date:"D, d-M-Y" }}</p>
						</div>
					</li>
				{% endfor %}
				<ul>
			</div>
		</div>

		<div class="call-to-action container">
			<div class="row">
				<div class="call-to-action-text span12">
					<div class="ca-text">
						<p>Need more <span class="violet">information? </span> Want to learn more about what's happening? </p>
					</div>
					<div class="ca-button">
						<a href="/ved/inqcont">Contact Us!</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer_scripts %}
	<script>
		$(document).ready(function(){
			$('#li_calendar').addClass('active');
		});
	</script>
{% endblock %}
